<footer
  data-sads-component="footer"
  data-sads-bg-color="footer-bg" {# Theme key for footer background #}
  data-sads-text-color="text-footer" {# Theme key for footer text color #}
  data-sads-padding="l 0" {# Vertical padding, full width #}
  data-sads-text-align="center"
  data-sads-margin-top="xl" {# Add some space above the footer #}
>
  <div
    data-sads-element="footer-content-container"
    data-sads-max-width="content-container"
    data-sads-margin="custom:0 auto"
    data-sads-padding="0 m"
  >
    <p data-sads-element="footer-text" data-sads-font-size="s" data-sads-margin="none">
      {{ translations.get('footer_text', '&copy; 2024 Simple Landing Page. All rights reserved.') }}
    </p>
  </div>
</footer>
