<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {% block head_meta %}
    <meta
      content="A simple and modern landing page template for showcasing your business, services, or portfolio."
      name="description"
    />
    <meta
      content="landing page, template, HTML, CSS, JavaScript, responsive, business, portfolio, services"
      name="keywords"
    />
    {% endblock head_meta %}
    <title>{{ page_title }}</title>
    {# Standardized to page_title used in Go context #}
    <link href="{{ style_css_path }}" rel="stylesheet" />
    {# Use variable from Go context #}
    <link rel="icon" href="public/favicon.svg" type="image/svg+xml" />
    <script type="importmap">
      {
        "imports": {
          "@protobuf-ts/runtime": "https://esm.sh/@protobuf-ts/runtime@2.9.4"
        }
      }
    </script>
    {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>
    {% include "components/header/header.html" with
    site_logo_data=site_logo_data translations=translations lang=lang %}

    <main>{{ main_content | safe }}</main>

    {% include "components/footer/footer.html" with translations=translations
    lang=lang %}
    <script type="module" src="{{ app_js_path }}" defer></script>
    <script>
      window.sadsConfig = {
        sadsPocWasmPath: "{{ sads_poc_wasm_path }}",
        wasmExecPath: "{{ wasm_exec_path }}",
        sadsDefaultThemePath: "{{ sads_default_theme_path }}",
        sadsEnginePath: "{{ sads_style_engine_path }}",
      };
    </script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>
