<div class="dna-sequence-block" data-sads-component="dna-visualizer">
  <h3 class="dna-sequence-title" data-i18n="dna_visualizer_title" data-sads-element="title">
    {{ translations.get('dna_visualizer_title', 'DNA Sequence') }}
  </h3>
  <div class="dna-sequence" data-sads-element="sequence-container" data-sads-layout-type="flex" data-sads-flex-direction="row" data-sads-gap="xxs">
    {#
      This part will eventually need to be dynamic.
      For now, it's a placeholder.
      The build system or JavaScript will need to populate this.
      Example of how it might look with dynamic data:
      {% for nucleotide in dna_sequence_data.nucleotides %}
        <span class="nucleotide nucleotide-{{ nucleotide.type | lower }}">{{ nucleotide.char }}</span>
      {% endfor %}
    #}
<div
  class="dna-sequence-block"
  data-sads-component="dna-visualizer"
  {#
    The data-sequence attribute will provide the DNA string for the JS.
    If dna_sequence_data is passed from the build system and has a sequence_string, use it.
    Otherwise, provide a default or example sequence.
    For initial setup, we can hardcode an example here if not using server-side data yet for this.
    Example: data-sequence="ATGCGTTA"
  #}
  {% if dna_sequence_data and dna_sequence_data.sequence_string %}
  data-sequence="{{ dna_sequence_data.sequence_string }}"
  {% else %}
  data-sequence="GATTACA" {# Default example sequence if none provided from server #}
  {% endif %}
>
  <h3 class="dna-sequence-title" data-i18n="dna_visualizer_title" data-sads-element="title">
    {{ translations.get('dna_visualizer_title', 'DNA Sequence') }}
  </h3>
  <div class="dna-sequence" data-sads-element="sequence-container" data-sads-layout-type="flex" data-sads-flex-direction="row" data-sads-gap="xxs">
    <!-- Nucleotides will be dynamically injected here by dna-visualizer.js -->
  </div>
</div>
<script>
  // Small script to ensure that if this component is loaded dynamically (e.g. via AJAX/HTMX)
  // after the initial DOMContentLoaded, its JS can be re-triggered if needed.
  // This is a placeholder for more robust dynamic component initialization.
  // document.dispatchEvent(new CustomEvent('dna-visualizer-loaded', { detail: { element: document.currentScript.parentElement } }));
</script>
